<!DOCTYPE html>
<html ng-app="sap">
<head>
	<meta charset="UTF-8">
	<title>Sistema de Áudio Personalisado</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<script src="lib/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/sapCtrl.js"></script>
</head>

<body>
	<div ng-controller="sapCtrl">
		<h1> {{app}} </h1>
		<div class="jumbotron"> 
			<div id="formArtista">
				<h3> Adicione seus artistas</h3>
				{{artistas}}
				<input class="form-control" type="text" ng-model="artista.nome" placeholder="Artista" style="font-style:italic">
				<input class="form-control" type="text" ng-model="artista.img" placeholder="Link da imagem" style="font-style:italic">
				<button class="btn btn-primary" ng-click="adicionarArtista(artista)" ng-disabled="!artista.nome">Adicionar Artista</button>
			</div>

			<div id="formMusica">
				<h3> Adicione suas músicas</h3>
				<input class="form-control" type="text" ng-model="musica.nome" placeholder="Nome" style="font-style:italic" >
				<input class="form-control" type="text" ng-model="artistaDaMusica" placeholder="Artista" style="font-style:italic">
				<input class="form-control" type="text" ng-model="album" placeholder="Álbum" style="font-style:italic">
				<input class="form-control" type="text" ng-model="musica.ano" placeholder="Ano de lançamento" style="font-style:italic">
				<input class="form-control" type="text" ng-model="musica.duracao" placeholder="Duração" style="font-style:italic">
				<button class="btn btn-primary" ng-click="adicionarMusica(musica, artistaDaMusica, album)" ng-disabled="!musica.nome || !artistaDaMusica || !album || !musica.ano || !musica.duracao">Adicionar Música</button>
			</div>

			{{ehFavorito}}
			<form id="pesqArtista">

				<h3>Pesquise seus artistas</h3>

				<input class="form-control" type="text" ng-model="pesqArtista" placeholder="Artista" style="font-style:italic; margin-left: auto; margin-right: auto">
				 <button class="btn btn-primary" ng-click="showLista()">Pesquisar Artista</button>
			</form>
			<table ng-if="pesquisar" class="table">
				<h4 id="tituloArtistas" ng-if="pesquisar" align="left"
				> Artistas</h4> 
				<h4 id="mostrarFavoritos" ng-model="mostraFavoritos" ng-if="pesquisar" ><a href="" ng-click="apenasFavoritos()">Mostrar Favoritos</h4>
				<tr align="left" ng-repeat="a in artistas | filter: pesqArtista | orderBy: 'nome' | filter: ehFavorito">
					<td style="text-align: left;"><a href="" ng-click="showInfo(a)">{{a.nome}}</td></a>
					
					<td style="text-align: right;">  <button class="btn btn-info btn-xs" ng-class="{'btn btn-info btn-xs': !a.favorito, 'btn btn-danger btn-xs': a.favorito}" type="button" 
					 ng-click="mudaFavoritos(a);">{{mudaNomeButtonFavoritos(a)}}</button>
				</tr>
				<div ng-if="pesquisar && info" id="infoArtista">
					<h3 align="center">Informações sobre:<br/> {{infoArtista.nome}} <br/> <img align="center" width="150px" border="1px" src="{{infoArtista.img}}" alt="Não contém imagem"></h3>
					
					<h5>Álbuns: </h5> 
					<h6 ng-repeat="album in infoArtista.albuns">{{album.nome}};</h6>
					<h5> Nota do artista: {{infoArtista.nota}}</h5>
					<h5> Última música ouvida: {{infoArtista.ultimaMusica.nome}} </h5>

					<hr>

					<form class="form-inline">
					<!-- fazer regex de numero -->
						
						<h5> Nota do artista: 
						<select id="nota" ng-model="nota" ng-options="nota for nota in notas">
						<option value=""></option>
						</select></h5>
					
						<select id="UltimaMusica" class="form-control" ng-model="musica" ng-options="musica.nome group by musica.album for musica in infoArtista.musicas">
						<option value="">Selecione a ultima música ouvida</option>
						</select>
						<button id="registrar" ng-click="registraNotaEMusica(nota, musica, a)">Registrar</button>

					</form>
				</div>
				
			</table>

		</div>
		<!-- Em cada linha da tabela haverá um ng-hide"!$scope.artistas.favorito & fav" 
		A variavel fav vai ser um false. Ao clicar no botão favoritos
		fav vai ser true.-->
	</div>

</body>
</html>