	<div ng-controller= "sapCtrl">
		<div class="jumbotron"> 
			<h3 style="margin-top: -10px;">Crie suas playlists</h3>
			<input id="formPlaylist" class="form-control" type="text" ng-model="playlist.nome" placeholder="Playlist" style="font-style:italic">
			<button class="btn btn-primary" ng-click="adicionarPlaylist(playlist)" ng-disabled="!playlist.nome">Criar Playlist</button>

			<table id="tablePlaylist" class="table">
				<h3 id="tituloPlaylist"  align="left"
				> Playlists</h3> 

				<tr align="left" ng-repeat="playlist in playlists | orderBy: 'nome'">
					<td style="text-align: left;"><a href="" ng-click="showInfoPlaylist(playlist)">{{playlist.nome}}</td></a>

					
					<td style="text-align: right;">  <button class="btn btn-danger btn-xs" type="button" 
					 ng-click="excluirPlaylist(playlist);">excluir</button></td>

				</tr>

			</table>
			<div id="infoPlaylist" ng-show="boolInfoPlaylist" >
					<h3 align="center"><br/> {{infoPlaylist.nome}} <br/></h3>
					<h5><b>Musicas: </b></h5> 
					
					<table id="tableMusicasPlaylist" class="table"> 

						<tr align="right" ng-repeat="musica in infoPlaylist.musicas | orderBy: 'nome'">
							<td style="text-align: left;">{{musica.nome}}</td></a>
					
							<td style="text-align: right;">  <button class="btn btn-danger btn-xs" type="button" 
					 ng-click="excluirMusicaPlaylist(musica);">excluir</button></td>
				</tr>
			</table>

					<!-- ver essa linha -->
					<hr>

					<form id="formMusicaEmPlaylist">						
						<input class="form-control" type="text" ng-model="musicaDaPlaylist.nome" placeholder="Música" style="font-style:italic; margin-left: auto; margin-right: auto">
						<button class="btn btn-primary" ng-click="adicionarMusicaPlaylist(musicaDaPlaylist)" ng-disabled="!musicaDaPlaylist.nome">Adicionar Música</button>

					</form>
				</div>

	</div>
</body>
